################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.suo
*.lastbuildstate
*.tlog
*.exe
*.recipe
*.ipdb
*.iobj
*.pdb
/.vs/slnx.sqlite
*.sqlite
*.sqlite-journal
/ArtemisComponents/ArtemisTerminal/Release/ArtemisTerminal.log
/ArtemisComponents/ArtemisTerminal/Release/ArtemisHost.Build.CppClean.log
/ArtemisComponents/ArtemisTerminal/Release/ArtemisTerminal.vcxproj.FileListAbsolute.txt
*.obj
/ArtemisComponents/InvasionTerminal/Release/InvasionTerminal.Build.CppClean.log
/ArtemisComponents/InvasionTerminal/Release/InvasionTerminal.log
/ArtemisComponents/InvasionTerminal/Release/InvasionTerminal.vcxproj.FileListAbsolute.txt
*.json
/.vs/CMake Overview
/ArtemisComponents/ConsoleTests/ArtemisTerminal/Release
/ArtemisComponents/ConsoleTests/InvasionTerminal/Release
*.log
